@import "./LangdingPage/Home.css";

#landing-page {
    width: 100%;
    min-height: 100%;
    background-color: #ff9429;
    color: #fff;
}

#landing-page #brand {
    width: fit-content;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

#landing-page #menu a {
    color: inherit;
}

#landing-page #main-content {
    min-height: 80vh;
}

#landing-page .flowers h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 7rem;
    margin: 0;
    z-index: 9;
    font-weight: bold;
}

@media screen and (width < 820px) {
    #landing-page .flowers {
        display: none;
    }
}

@media screen and (width > 820px) {
    #landing-page .flowers {
        position: relative;
    }

    #landing-page .flowers img {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #landing-page .flowers h2 {
        position: absolute;
        top: -10%;
        right: -5%;
    }
}