@use "../bootstrap/bootstrap"
@use "./pages/root"
@use "./utils/utils"
@use "./test/test"
@use "./score/score"

body
    font-family: Arial, Helvetica, sans-serif
    width: 100vw
    overflow-x: hidden
